@font-face {
    font-family: 'arial';
    src: url(../font/arial-mt/Arial-MT.ttf);
}

@font-face {
    font-family: 'monserrat';
    src: url(../font/Montserrat/static/Montserrat-Bold.ttf);
}

/* Reset margin dan padding */
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.container {
    width: 90%; 
    margin: auto;
}

.swiper-container {
    width: 100%;
    padding-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
  scroll-behavior:smooth;
}
/* NAVBAR */

/* Reset & base */
body {
  background-color: black;
  font-family: Arial, sans-serif;
}

header {
    background-color: #C14600;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

header h1 a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

header ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

header ul li a {
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
    text-decoration: none;
    
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 20px 20px 20px;
}

.nav-left ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap; 
  position: absolute;
  gap: 100px;
  padding-bottom: 20px;
  top: 28px;
}

.nav-left ul li a {
  color: white;
  font-size: 16px;
}

.nav-left ul li a:hover {
  color: #f6a623;
  transition: 150ms ease;
  transform: translateY(-5px);
}

.nav-logo img {
  width: 80px;
  height: 80px;
}

.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.nav-right {
  position: absolute;     
  right: 130px;           
  top: 25px;              
  display: flex;
  gap: 10px;              
  align-items: center
}

.nav-right ul {
  list-style-type: none;
  gap: 30px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.search-box input {
  border: none;
  padding: 6px 10px;
  outline: none;
}

.search-box input[type="text"] {
  width: 200px;
}

.search-box btn {
  background-color: #f6a623;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  color: black;
}

.nav-right ul li{
  display: flex;
  list-style-type: none;
  margin: -15px;
  
}

.nav-right ul li a img:hover {
  transition: 150ms ease;
  transform: translateY(-5px);
}

/*search-box */
.search-box button {
  background-color: #f6a623;
  border: none;
  padding: 9px 10px;
  cursor: pointer;
  color: black;
}
/* NAVBAR */

/* BrandBar */
.brandbar {
  background-color: rgb(248, 199, 114);
  color: #131212;
  align-items: center;
  font-size: 12px;
  font-family: 'monserrat';
  max-height: 60px;
  border-bottom: solid 4px #e69e03;
}

.brandbar p {
  font-size: 12px;
  color: #000000;
  font-family: 'monserrat';
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: -20px;
}

.brand-container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.brand-container img {
  width: 35px;
  filter: grayscale(100%);
}
/* BrandBar */

/* Banner */

.swiper {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.swiper-button-next,
.swiper-button-prev {
  color: #fffefe;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 25px;
}

/* Banner */

/* Category and product list */
body {
    background-color: #E5D0AC;
    font-size: 16px;
}


/* Section */
.section {
    padding: 20px 0;
}

.section {
    width: 100%;
    margin: auto;
}

.section h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #C14600;
    text-align: center;
    font-family: 'monserrat';
    margin-top: -20px;

}

/* Kategori dan Produk */
.box {
    display: flex;
    flex-wrap: wrap;
    gap: 130px;
    justify-content: center;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    padding-left: 87px;
}

.col-5 p {
    width: 200px;
    background-color: #C14600;
    border: 5px solid #FF9D23;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    color: #FEF9E1;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    justify-content: center;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.col-5 p:hover {
  background-color: white;
  color: #FF9D23;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box .col-4 {
    width: 100%;
    max-width: 230px;
    height: 350px;  
    background-color: #C14600;
    border: 10px solid #FF9D23;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 0 0 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box1 .col-5:hover, .box .col-4:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    color: #FF9D23;
    background-color: #FF9D23;
    border: solid 5px #C14600;
    
}

.box img {
    max-width: 190px;
    height: 190px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.box p.nama {
    font-size: 17px;
    font-weight: bolder;
    color: #ffffff;
    margin-bottom: 5px;
}

.box p.harga {
    font-size: 14px;
    color: #ffffff;

}

.box p.stok {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
}



.col-4 p {
  color: #fffefe;
}

.col-4 table {
    width: 100%;
    border-color: #fffefe;
}


/* Category and product list */

/* banner */
.banner {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container img {
    width: 100%;
    object-fit: cover;
}

/* Footer */
.footer{
    background-color: #C14600;
    color: white;
    bottom: auto;
    width: 100%;
    position : absolute;
    padding: 25px 20px;
    padding-top: 50px;
    text-align: center; 
    border-top:solid 8px #f6a623;
}

.footer h4 {
  color: #fffefe;
  padding: 5px;
}

.icon-text-wrapper {
    display: flex;
    align-items: center; /* Menyelaraskan secara vertikal di tengah */
    margin-bottom: 10px; /* Jarak antar baris */
    justify-content: center;
}

.icon-text-wrapper img,
.icon-text-wrapper i {
    margin-right: 10px; /* Jarak antara ikon dan teks */
    width: 24px; /* Sesuaikan ukuran ikon */
    height: 24px; /* Sesuaikan ukuran ikon */
}
